$main-color: #545F7D;
$secondary-color: #213F7D;
$button-color: #39CDCC;
$background-color: #FBFBFB;
$blacklist-color: #FF3366;
$purple-color: #DF18FF;
$orange-color: #F55F44;
$active-color: #39CD62;
$darkred-color: #E4033B;
$pending-color: #E9B200;
$lendsqr-blue-color: #5718FF;